/* FONT SIZE */
.galleryNightzillaFont {
    font-family: "SpaceRanger";
}
.galleryHomeGalleryNavBar {
    font-family: "SpaceRanger2";
    font-size: 20px;
}
.galleryHomeGalleryNavBar:hover{
    transform: scale(1.1)!important;
    color: black;
}
.galleryProfileNavBar {
    font-family: "SpaceRanger2";
}
.galleryProfileNavBar:hover{
    transform: scale(1.1);
    color: black;
}
.galleryCohortNavBar  {
    font-family: "SpaceRanger2";
}
.galleryCohortNavBar:hover {
    transform: scale(1.1);
    color: black;
}

.img-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 0 30px;
}
  
.wrapper {
    width: 33.3%;
    height: 100%;
    padding: 10px;
}
  
.box {
    position: relative;
    max-height: 70vh;
    border-radius: 4px;
    overflow: hidden;
}
  /* MEDIA QUERIES */
  /* small devices */
  @media only screen and (max-width: 600px){
    .galleryNightzillaFont {
        font-size: 10px;
    }
    .galleryHomeGalleryNavBar {
        font-size: 15px;
    }
    .galleryProfileNavBar {
        font-size: 15px;
    }
    .galleryCohortNavBar  {
        font-size: 15px;
    }
   
  }
  /* small devices */
  @media only screen and (max-width: 576px){
    .galleryNightzillaFont {
        font-size: 20px;
    }
    .galleryHomeGalleryNavBar {
        font-size: 15px;
    }
    .galleryProfileNavBar{
        font-size: 15px;
    }
    .galleryCohortNavBar  {
        font-size: 15px;
    }
    .galleryNavBars {
        font-size: 15px;
    }
  }
  /* medium devices */
  @media screen and (min-width: 960px) {
    /* Custome Fonts */
    .galleryNightzillaFont {
        font-size: 50px;
    }
    .galleryHomeGalleryNavBar {
        font-size: 20px;
        padding-top: 5px;
    }
    .galleryProfileNavBar {
        font-size: 20px;
        font-size: 20px;
        padding-top: 5px;
    }
    .galleryCohortNavBar  {
        font-size: 20px;
        font-size: 20px;
        padding-top: 5px;
    }
  }
  /* large devices */
  @media screen and (min-width: 1440px){
    
  }