/* Custom font for webpage */
@font-face {
    font-family: "NewAcademy";
    src: local("NewAcademy"), url("../../fonts/NEWACADEMY.ttf")format("truetype");
    font-weight: bold;
}
/* BACK GROUND IMAGE */
.abstractImg{
    z-index: -5;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex; 
    position: absolute;
}
.abstractBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
}
/* Buttons */
.bi-play-btn-fill {
    color:rgb(157, 163, 174);
}
.bi-play-btn-fill:hover {
    color: #ffff;
}
.bi-code-square {
    color:rgb(157, 163, 174);
    margin-top: .2rem;
}
.bi-code-square:hover {
    color: #ffff;
}
/* FONT SIZE */
#dannyNguyen {
    font-family: "NewAcademy";
}
.fsd {
    font-family: "NewAcademy";
    color: #ffff;
}
#githubFinder {
    font-family: "NewAcademy";
}
#brosMovie {
    font-family: "NewAcademy";
}
#brosCoffee {
    font-family: "NewAcademy";
}
#weatherBros {
    font-family: "NewAcademy";
}
.projectNightzillaFont {
    font-family: "SpaceRanger";
    font-size: 25px;
}
.homeProjectNavBar {
    font-family: "SpaceRanger2";
    font-size: 20px;
    padding-right: 10px;
    padding-top: 5px;
}
.homeProjectNavBar:hover{
    transform: scale(1.1)!important;
    color: black;
}
.cohortNavBar {
    font-family: "SpaceRanger2";
    font-size: 20px;
    padding-top: 5px;
}
.cohortNavBar:hover {
    transform: scale(1.1);
    color: black;
}
.galleryNavBar  {
    font-family: "SpaceRanger2";
    font-size: 20px;
    padding-top: 5px;
}
.galleryNavBar:hover {
    transform: scale(1.1);
    color: black;
}
.img-content {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding: 0 30px;
}
  
.wrapper {
    width: 33.3%;
    height: 100%;
    padding: 10px;
}
  
.box {
    position: relative;
    max-height: 70vh;
    border-radius: 4px;
    overflow: hidden;
}
  /* MEDIA QUERIES */
  /* small devices */
  @media only screen and (max-width: 600px){
    .danny-Profile-Card {
        padding-left: none;
    }
    .projectNightzillaFont {
        font-size: 20px;
    }
    .homeProjectNavBar {
        font-size: 16px;
    }
    .galleryNavBar{
        font-size: 16px;
    }
    .cohortNavBar {
        font-size: 16px;
    }
    .galleryNightzillaFont {
        font-size: 16px;
    }
    .homeGalleryNavBar {
        font-size: 18px;
    }
  }
  /* medium devices */
  @media screen and (min-width: 960px) {

    /* Custome Fonts */
    .galleryNightzillaFont {
        padding-right: 620px;
        font-size: 30px;
    }
    .homeGalleryNavBar {
        font-size: 20px;
    }
    .aboutMeNavBar {
        font-size: 20px;
    }
    .cohortNavBar {
        font-size: 20px;
    }
    .galleryNavBar {
        font-size: 20px;
    }
  }
  /* large devices */
  @media screen and (min-width: 1440px){
  }