/* Main Page */
.welcomeHeader{
    position: relative;
    font-family: "SpaceRanger";
    font-size: 40px;
    color:#ffff;
    z-index: 1;
    display: flex;
    justify-content: center;
}

.homepageNavBar{
    position: relative;
}
.container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: visible!important;
}
.video {
    position: absolute;
    width: 100vw;
    object-fit: fill;
    height: 100%;
    top: 0;
    left: 0;
}
.smoke {
    height: 100%;
    width: 100%;
}
/* Video Component*/
.video-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    overflow: visible!important;
}
.video-container video {
    position: absolute;
    height: 125%;
    min-width: 100%;
    object-fit: cover;
}
/* HAMBURGER ICON NAV BAR*/
/* Icon */
.hamburger{
    position: relative;
    bottom: 80%;
    left: 60%;
    top: 40%;
    z-index: 400;
}

/* HOVER FONTS */
.AboutMeText {
    font-size: 25px;
}
.AboutMeText:hover {
    transform: scale(1.1);
}
.GalleryText {
    font-size: 25px;
}
.GalleryText:hover {
    transform: scale(1.1);
}
.ProjectsText {
    font-size: 25px;
}
.ProjectsText:hover {
    transform: scale(1.1);
}
.cohortText {
    font-size: 25px;
}
.cohortText:hover {
    transform: scale(1.1);
}
/* MEDIA QUERIES*/
/* small devices */
@media only screen and (min-width: 414px){
    .welcomeHeader {
        font-size: 50px;
        padding-top: 140px;
        padding-left: 30px;
    }
    .section2 {
        padding-top: 130px;
        padding-left: 140px;
    }
}
/* medium devices */
@media screen and (min-width: 500px) {
    .welcomeHeader {
        padding-top: 140px;
        padding-left: 60px;
        font-size: 40px;
    }
    .section2 {
        padding-top: 180px;
        padding-left: 130px;
    }
}
/* large devices */
@media screen and (min-width: 1400px) {
    .welcomeHeader {
        padding-top: 120px;
        font-size: 40px;
    }
    .section2 {
        padding-top: 180px;
        padding-left: 350px;
    }
}
/* x-large devices */
/* when large screen is past 1400px the font and navbar will be larger */
@media screen and (min-width: 1500px){
    .welcomeHeader{
        padding-top: 220px;
        font-size: 50px;
    }
    .section2 {
        padding-top: 170px;
        padding-left: 620px;
    }
}
