/* Main Page */
.welcomeHeader{
    position: relative;
    font-family: "SpaceRanger";
    font-size: 40px;
    color:#ffff;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 350px;
}

.homepageNavBar{
    position: relative;
}
.container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: visible!important;
}
.video {
    position: absolute;
    width: 100vw;
    object-fit: fill;
    height: 100%;
    top: 0;
    left: 0;
}
.smoke {
    height: 100%;
    width: 100%;
}
/* Video Component*/
.video-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    overflow: visible!important;
  }
.video-container video {
    height: 125%;
    min-width: 100%;
    object-fit: cover;
}
/* HAMBURGER ICON NAV BAR*/
/* Icon */
.hamburger{
    bottom: 80%;
    left: 60%;
    top: 60%;
    margin-left: 80px;
    z-index: 10;
}
/* HOME PAGE NAVBAR */
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: opacity 0.75s, visibilty 0.75s;
    flex-wrap: wrap;
    justify-content: center;
}
.section--hidden{
    opacity: 0;
    visibility: hidden;
}
.section2{
    position: absolute;
    height: 100vh;
    padding-left: 470px;
    display: flex;
    align-items: center;
    transition: opacity 0.75s, visibilty 0.75s;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 30%;
    left: 40%;
}
.dropdown-parent{
  position: relative;
}
.dn-dropdown-menu{
    position: absolute;
    top: 100%;
    display: none;
}
.show .dn-dropdown-menu{
    display: block;
}
.text-link {
    color: inherit;
    text-decoration: inherit;
  }
/* HOVER FONTS */
.AboutMeText {
    font-size: 25px;
}
.AboutMeText:hover {
    transform: scale(1.1);
}
.GalleryText {
    font-size: 25px;
}
.GalleryText:hover {
    transform: scale(1.1);
}
.ProjectsText {
    font-size: 25px;
}
.ProjectsText:hover {
    transform: scale(1.1);
}
.cohortText {
    font-size: 25px;
}
.cohortText:hover {
    transform: scale(1.1);
}
/* MEDIA QUERIES*/
/* iPhone */
@media screen and (max-width: 767px) {
    .welcomeHeader{
    font-family: "SpaceRanger";
    font-size: 25px;
    color:#ffff;
    position: fixed;
    z-index: 3000;
    }
}
/* Media query */
/* small devices */
@media only screen and (min-width: 390px){

}
/* medium devices */
@media screen and (min-width: 500px) {

}
/* large devices */
@media screen and (min-width: 1440px){

}
