/* Main Page */
.welcomeHeader{
    position: relative;
    font-family: "SpaceRanger";
    font-size: 40px;
    color:#ffff;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 280px;
    /* padding-top: 350px; */
}

.homepageNavBar{
    position: relative;
}
.container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: visible!important;
}
.video {
    position: absolute;
    width: 100vw;
    object-fit: fill;
    height: 100%;
    top: 0;
    left: 0;
}
.smoke {
    height: 100%;
    width: 100%;
}
/* Video Component*/
.video-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    overflow: visible!important;
}
.video-container video {
    position: absolute;
    height: 125%;
    min-width: 100%;
    object-fit: cover;
}
/* HAMBURGER ICON NAV BAR*/
/* Icon */
.hamburger{
    position: relative;
    bottom: 80%;
    left: 60%;
    top: 40%;
    margin-left: 80px;
    z-index: 400;
}

/* HOVER FONTS */
.AboutMeText {
    font-size: 25px;
}
.AboutMeText:hover {
    transform: scale(1.1);
}
.GalleryText {
    font-size: 25px;
}
.GalleryText:hover {
    transform: scale(1.1);
}
.ProjectsText {
    font-size: 25px;
}
.ProjectsText:hover {
    transform: scale(1.1);
}
.cohortText {
    font-size: 25px;
}
.cohortText:hover {
    transform: scale(1.1);
}
/* MEDIA QUERIES*/
/* small devices */
@media only screen and (max-width: 414px){
    .welcomeHeader {
        font-size: 30px;
    }
}
/* medium devices */
@media screen and (max-width: 500px) {
    .welcomeHeader {
        padding-top: 50px;
        padding-left: 120px;
    }
    .section2 {
        padding-right: 90px;
    }

}
/* large devices */
@media screen and (min-width: 1440px){
    .welcomeHeader{
        padding-top: 200px;
    }
    .section2 {
        padding-top: 100px;
        padding-left: 180px;
    }

}
